.navigation {
    float: center; 
    font-family: Geneva,Arial;
    border: None;/*1px solid #000000;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFFFFF;
    list-style: none;
}

.navigation ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}

.navigation ul li {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
}

.navigation li a {
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #C0C0C0;
}

hr.navsep {
    border-top: 1px solid black;
    width: 100%;
}

.TextWrap {
    float: right;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}



